;;(setq package-path "~/.emacs.d/packages/non-exist/")
;;(setq org-path "~/.emacs.d/packages/org-7.8.03/")
;;(setq org-path "~/.emacs.d/packages/org-mode/")
(setq color-theme-path "~/.emacs.d/packages/color-theme-6.6.0/")
(setq cmake-mode-path "D:\\Program Files\\CMake 2.8\\share\\cmake-2.8\\editors\\emacs")
(setq my-favorite-color-theme 'deeper-blue)
(setq windows-git-bin-path "C:/Program Files/Git/bin")
